@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a Web Application showing a list of users from the database, One also has the ability to add and delete users from the database.
        The above was built using the following technologies:
    </p>

    <ul>
        <li>C#</li>
        <li>.NetCore</li>
        <li>Entity Framework</li>
        <li>SQL Express</li>
    </ul>
</div>